/* Background color of body on all HTML */
body {
  background-color: black;
}

/* Main Title at the top on all HTML */
#HeroTitle { 
  color: black;
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 40px;
  letter-spacing: 6px;
  padding: 40px 0px;
  line-height: 1.5;
}

/* Subtitle at the top on all HTML */
.subtitle1 {
  color: rgb(248, 9, 9); 
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 0px 10px;
  line-height: 1;
}

/* Titles for pictures on main HTML */
.subtitle {
  color: rgb(221, 10, 10); 
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 0px 10px;
  line-height: 1;
}

/*Pictures on main HTML */

#hiddenGems {
 width: 500px;
  height: 300px;
  background-color: black;
  border: black solid 10px;
  padding: 10px 10px 10px;
  cursor: pointer;
}

#foodTrucks {
  width: 450px;
  height: auto;
  background-color: black;
  border: black solid 10px;
  padding: 10px 10px 10px;
  cursor: pointer;
}

#localRestaurants {
  width: 500px;;
  height: auto;
  background-color: black;
  border: black solid 10px;
  padding: 10px 10px 66px;
  cursor: pointer;
}

/* Subtitle at the top of Body in main HTML */
.title {
  color: rgb(252, 34, 6); 
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 0px 10px;
  line-height: 1;
}

/* Footer */
  .footer {
    color: rgb(221, 10, 10); 
    /*background-color: black;*/
    height: 250px;
  }

  /* Get to know us at the bottom of all HTML */
#us {
  color: rgb(221, 10, 10); 
  position:center;
  text-align: center;
  text-shadow: 2px 2px 6px;
  font-size: 25px;
  letter-spacing: 12px;
  padding: 0px 10px;
  line-height: 1;
  }

  /* Our names at the bottom of all HTML */
  a {
    color:rgb(0, 0, 0);
    position:left;
    text-align: left;
    text-shadow: 2px 2px 6px;
    font-size: 20px;
    letter-spacing: 12px;
    padding: 0px 10px;
    line-height: 1;
  }

  /*hover over names*/
  a:hover { color: rgb(248, 8, 8); }

  /* Twitter icon at the bottom of all HTML */
.fa-twitter {
    color: rgb(221, 10, 10); 
    position:center;
    text-align: center;
    text-shadow: 2px 2px 6px;
    font-size: 20px;
    letter-spacing: 12px;
    padding: 0px 10px;
    line-height: 1;  
}

 /*hover over twitter*/
.fa-twitter:hover {
  color: #030303;
}

/* Github icon at the bottom of all HTML */
.fa-github {
  color: rgb(5, 5, 5); 
  position:center;
  text-align: center;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 0px 10px;
  line-height: 1;
}

/*hover over github*/
.fa-github:hover {
  color: #ff0606;
}

.fa-linkedin {
  color: rgb(221, 10, 10); 
  position:center;
  text-align: center;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 0px 10px;
  line-height: 1;
}

/*hover over linkedin*/
.fa-linkedin:hover {
  color: #030303;
}

/* trucks page */
#background{
background-repeat: no-repeat;
background-color: white;
background-position: center;
background-size: 600px;
}

/* Hidden Gems HTML*/
#family {
  color: rgb(221, 10, 10); 
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 20px 50px;
  line-height: 1;
  cursor: pointer;   

}

#out {
  color: rgb(221, 10, 10); 
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 10px 50px;
  line-height: 1;
  cursor: pointer;   

}

#night {
  color: rgb(221, 10, 10); 
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 10px 50px;
  line-height: 1;
  cursor: pointer;   
}


/* Reset Button on all HTML pages*/
#reset {
  color: rgb(248, 9, 9); 
  background-color: black;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 10px 10px 10px 10px;
  line-height: 1;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

/*Space between columns */
.columns {
  padding: 30px 10px 10px 0px;
}

/* Cursor on images on all html pages */
.img {
  cursor: pointer;
}
 AnthonyBranch
/* weather input in gems page */
.search_bar input{
  border: 50;
  outline: 50;
  padding: 50px 50px;
  height: 50px;
  border-radius: 50px;
  width: 10px;
  margin-right: 200px;
  font-size: 200px;
  font-family: 'Times New Roman', Times, serif;
}
 
.search_bar button img{
  width: 50px;
  height: 40px;
  }

/* weather search bar button in gems page */
.search_bar button{
  background-color: rgb(13, 13, 13);
  cursor: pointer;
}

/* city input bar in gems page */
#cityInput {
  color:#b7a5a5
  font-size: 30px;
  letter-spacing: 7px;
  padding: 10px 100px 15px 20px;
  cursor::target-text; 
}

.weather-icon {
  padding: 10px 10px 10px 10px;
}

/*search button on food html*/
#searchBtn {
  color: rgb(251, 6, 6); 
  background-color: rgb(13, 13, 13);
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 5px 5px 5px 15px;
  line-height: 1;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
 border: rgb(33, 32, 32) solid;
}

/*input field on food html*/
.input {
  font-size: 20px;
  letter-spacing: 7px;
  padding: 10px 50px;
  line-height: 1;
  cursor: pointer; 
}

/*nutrition label on food html*/
.label {
  color: rgb(248, 9, 9); 
  background-color: black;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 20px 20px 20px 20px;
  line-height: 1;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

/* Truck nutrition */
.button-is-primary {
  color: rgb(251, 6, 6); 
  background-color: rgb(9, 9, 9);
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
 border: rgb(33, 32, 32) solid;
}

#foodSearch {
  font-size: 20px;
  letter-spacing: 10px;
  padding: 0px 5px;
  line-height: 1;
  cursor: pointer; 
}





