body {
  background-color: black;
}

#HeroTitle { 
  color: black;
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 40px;
  letter-spacing: 6px;
  padding: 40px 0px;
  line-height: 1.5;

}

.subtitle1 {
  color: rgb(248, 9, 9); 
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 0px 10px;
  line-height: 1;
}

.subtitle {

  color: rgb(221, 10, 10); 
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 0px 10px;
  line-height: 1;
}

#hiddenGems {
 width: 500px;
  height: 00px;
  background-color: black;
  border: black solid 10px;
  padding: 10px 10px 10px;
  cursor: pointer;
  
}

#foodTrucks {
  width: 450px;
  height: auto;
  background-color: black;
  border: black solid 10px;
  padding: 10px 10px 10px;
  cursor: pointer;
}

#localRestaurants {
  width: 500px;;
  height: auto;
  background-color: black;
  border: black solid 10px;
  padding: 10px 10px 66px;
  cursor: pointer;
   ;
}

.title {
  color: rgb(252, 34, 6); 
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 0px 10px;
  line-height: 1;
}

  .footer {
    color: rgb(221, 10, 10); 
    /*background-color: black;*/
    height: 250px;

  }

#us {
  color: rgb(221, 10, 10); 
  position:center;
  text-align: center;
  text-shadow: 2px 2px 6px;
  font-size: 25px;
  letter-spacing: 12px;
  padding: 0px 10px;
  line-height: 1;
  }

a {
  color:black;
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 0px 10px;
  line-height: 1;
}

.fa-twitter {
    color: rgb(221, 10, 10); 
    position:center;
    text-align: center;
    text-shadow: 2px 2px 6px;
    font-size: 20px;
    letter-spacing: 12px;
    padding: 0px 10px;
    line-height: 1;
}

.fa-linkedin {
  color: rgb(221, 10, 10); 
  position:center;
  text-align: center;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 0px 10px;
  line-height: 1;
}

.hide{
  display:none;
}

#background{
background-repeat: no-repeat;
background-color: white;
background-position: center;
background-size: 600px;
}

/* .section {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  min-height: 30vh; /* Adjust as needed */
<<<<<<<<< Temporary merge branch 1
  /* text-align: center; Center the text within the section */
  /* color:red;  */
/* } 

=========
  text-align: center; /* Center the text within the section */
  color:red;
}

/* Local Restaurants*/


#fam {
  color: rgb(221, 10, 10); 
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 20px 50px;
  line-height: 1;
  cursor: pointer;   
}

#out {
  color: rgb(221, 10, 10); 
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 10px 50px;
  line-height: 1;
  cursor: pointer;   

}

#night {
  color: rgb(221, 10, 10); 
  position:left;
  text-align: left;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 10px 50px;
  line-height: 1;
}

#reset {
  color: rgb(248, 9, 9); 
  background-color: black;
  text-shadow: 2px 2px 6px;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 10px 10px 10px 10px;
  line-height: 1;
  border-radius: 5px 5px 5px 5px;
}

.columns {
  padding: 30px 10px 10px 0px

}

>>>>>>>>> Temporary merge branch 2



